<h1>Start a new game</h1>
<%= form_tag :controller => "games" %>
  <table>
		<tr>
			<td><label for="player1_name">Your Name:</label></td> 
			<td><%= text_field_tag "player1_name" %></td>
		</tr>
		<tr>
		<tr>
			<td><label for="player2_name">Player 2 name:</label></td> 
			<td><%= text_field_tag "player2_name" %></td>
		</tr>
		<tr>
			<td><label for="first_turn">Which Player will have the first turn?</label></td> 
			<td><%= select_tag "first_turn", options_for_select(['1', '2']) %></td>
		</tr>
	</table>
	<%= submit_tag "Create game" %>
  <h2>Previous Games</h2>
  <table>
  <%- @previous_games.each do |game| -%>
    <tr>
      <td>
        <%- if game.state =~ /won/ -%>
          <%- if game.state =~ /player1_won/ -%>
            You won
          <%- else -%>
            <%= game.players.last.name %> won
          <%- end -%>
        <%- else -%>
          <%= link_to "Enter game", game_url(game) %>
        <%- end -%>
      </td>
      <td>
        <%- if game.state =~ /won/ -%>
          &nbsp;
        <%- else -%>
          <%= link_to "Link for other player", game_url(game, :password => game.password) %>
        <%- end -%>
      </td>
      <td>
        <%- if game.state =~ /won/ -%>
          &nbsp;
        <%- else -%>
          <%= game.state.capitalize.gsub(/_/, " ") %>
        <%- end -%>
      </td>
    </tr>
    <%- end -%>
    </table>
</form>

  
