<% content_for :javascript do %>
  <%= javascript_include_tag "soundmanager2-jsmin" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "jquery.jscrollpane.min", "jquery.mousewheel", "jquery.quickflip.min", "jquery.periodic" %>
<% end %>
<!-- Top Image-->
<div id="top_image">
	<%= image_tag "guess_who.png" %>
</div>
<!-- Cards -->
<%= render :partial => "card", :collection => (1..24).to_a %>
<!-- Ask a question panel -->
<div id="question_panel">
  <%= form_tag messages_path, :remote => true, :id => "question_form" %>
    <%= hidden_field_tag "message[message_type]", "question", :id => "question_message_type" %>
    <%= hidden_field_tag "message[game_id]", @game.id, :id => "question_game_id" %>
    <%= hidden_field_tag "message[player_id]", @player.id, :id => "question_player_id" %>
    <span class="question">Does your alien have </span><%= text_field_tag 'message[content]', '', :size => "30" , :class => "question", :id => "question_content" %><span class="question">?</span>
    	<%= submit_tag 'Send Question', :id => "question_submit" %><br/>
    <%= render :partial => "word_button", :collection => @words %>
  </form>
</div>
<!-- Message Panel -->
<div id="message_panel">
</div>
<!-- Response Panel -->
<div id="response_panel">
  <!-- Chat -->
  <%= form_tag messages_path, :remote => true %>
    <%= hidden_field_tag "message[message_type]", "chat", :id => "chat_message_type"  %>
    <%= hidden_field_tag "message[game_id]", @game.id, :id => "chat_game_id"  %>
    <%= hidden_field_tag "message[player_id]", @player.id, :id => "chat_player_id"  %>
    <%= text_area_tag "message[content]", "", :cols => 26, :rows => 4, :id => "chat_content" %>
    <%= image_submit_tag "chat.png" %>
  </form><br/>
  <div id="yes_button">
    <%= link_to "Yes", {:controller => "messages", :action => "new", "message[message_type]" => "yes_response", "message[content]" => "Yes", "message[game_id]" => @game.id, "message[player_id]" => @player.id },  :remote => true %>
  </div>
  <div id="no_button">
    <%= link_to "No", {:controller => "messages", :action => "new", "message[message_type]" => "no_response", "message[content]" => "No", "message[game_id]" => @game.id, "message[player_id]" => @player.id },  :remote => true %>
  </div>
  <%= link_to "Stop", "#", :id => "stop" %>
  <%= link_to "Start", "#", :id => "start" %>
</div>
<h1>Game <%= @game.id %></h1>
<%= @player.name %> has chosen card number <%= @player.chosen_card %>
